{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div class="content kanban-deals-content">
    <div>
      <div class="px-4 px-lg-6">
        <h2 class="mb-5">Заявки</h2>
        <div class="d-xl-flex justify-content-between">
          <div class="mb-3">
            <button class="btn btn-primary me-4" type="button" data-bs-toggle="modal" data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-plus me-2"></span>Добавить заявку</button><button class="btn btn-link text-body px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Экспорт</button>
          </div>
          <div class="d-flex mb-4">
            <div class="search-box">
              <form class="position-relative">
                <input class="form-control search-input search" type="search" placeholder="Search by name" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
            <select class="form-select w-auto mx-2" id="select-deals">
              <option>Deals</option>
            </select><button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#reportsFilterModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
          </div>
        </div>
      </div>
      <div class="px-4 px-lg-6 scrollbar">
        <div class="deals">
          {% for stage in stages %}
            <div class="deals-col me-4">
              <div class="d-flex align-items-center justify-content-between position-sticky top-0 z-1 bg-body">
                <div>
                  <h5 class="mb-2">{{ stage.name }}</h5>
                  <p class="fs-9 text-body-tertiary mb-1">Общая стоимость:</p>
                  <h4 class="mb-3">0 сум</h4>
                </div>
                <div class="d-flex gap-3">
                  <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-plus"></span></button><button class="btn p-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">Редактировать</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="scrollbar deals-items-container">
                <div class="w-100 min-vh-50" data-sortable="data-sortable">
                  {% for ticket in tickets %}
                    {% if stage.name == ticket.stage_history.last.stage.name %}
                      <div>
                        <div class="card mb-3">
                          <div class="card-body">
                            <a class="dropdown-indicator-icon position-absolute text-body-tertiary" href="#collapseWidthDeals-{{ ticket.id }}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseWidthDeals-1"><span class="fa-solid fa-angle-down"></span></a>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                              <div class="d-flex">
                                <span class="me-2" data-feather="clock" style="stroke-width:2;"></span>
                                <p class="mb-0 fs-9 fw-semibold text-body-tertiary date">
                                    <span class="text-body-quaternary">{{ ticket.created_at }}</span>
                                </p>
                              </div>
                            </div>
                            <div class="deals-items-head d-flex align-items-center mb-2">
                              <a class="text-primary fw-bold line-clamp-1 me-3 mb-0 fs-7" href="../../apps/crm/deal-details.html">{{ ticket.client }}</a>
                              <p class="deals-category fs-10 mb-0 mt-1 d-none">
                                <span class="me-1 text-body-quaternary" data-feather="grid" style="stroke-width:2; height: 12px; width: 12px"></span>Financial
                              </p>
                              <p class="ms-auto fs-9 text-body-emphasis fw-semibold mb-0 deals-revenue">4 000 000 сум</p>
                            </div>
                            <div class="deals-company-agent d-flex flex-between-center">
                              <div class="d-flex align-items-center">
                                <span class="uil uil-user me-2"></span>
                                <p class="text-body-secondary fw-bold fs-9 mb-0">Knitkake.inc</p>
                              </div>
                              <div class="d-flex align-items-center">
                                <span class="uil uil-headphones me-2"></span>
                                <p class="text-body-secondary fw-bold fs-9 mb-0">Ally Aagaard</p>
                              </div>
                            </div>
                            <div class="collapse" id="collapseWidthDeals-{{ ticket.id }}">
                              <div class="d-flex gap-2 mb-5">
                                <span class="badge badge-phoenix badge-phoenix-success">Новая</span>
                              </div>
                              <table class="mb-4 w-100 table-stats table-stats">
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <div class="d-flex align-items-center">
                                      <span class="me-2 text-body-tertiary" data-feather="dollar-sign"></span>
                                      <p class="fw-semibold fs-9 mb-0 text-body-tertiary">Expected Revenue</p>
                                    </div>
                                  </td>
                                  <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                  <td class="py-1">
                                    <p class="ps-6 ps-sm-0 fw-semibold fs-9 mb-0 mb-0 pb-3 pb-sm-0 text-body-emphasis">4 000 000 сум</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <div class="d-flex align-items-center">
                                      <span class="me-2 text-body-tertiary" data-feather="user" style="width:16px; height:16px"></span>
                                      <p class="fw-semibold fs-9 mb-0 text-body-tertiary">Company Name</p>
                                    </div>
                                  </td>
                                  <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                  <td class="py-1">
                                    <p class="ps-6 ps-sm-0 fw-semibold fs-9 mb-0 mb-0 pb-3 pb-sm-0 text-body-emphasis d-flex align-items-center gap-2">
                                      Knitkake.inc<a href="#!"><span class="fa-solid fa-square-phone text-body-tertiary"></span></a><a href="#!"><span class="fa-solid fa-square-envelope text-body-tertiary"></span></a><a href="#!"><span class="fab fa-whatsapp-square text-body-tertiary"></span></a>
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <div class="d-flex align-items-center">
                                      <span class="me-2 text-body-tertiary" data-feather="calendar" style="width:16px; height:16px"></span>
                                      <p class="fw-semibold fs-9 mb-0 text-body-tertiary">Closing Date &amp; Time</p>
                                    </div>
                                  </td>
                                  <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                  <td class="py-1">
                                    <p class="ps-6 ps-sm-0 fw-semibold fs-9 mb-0 mb-0 pb-3 pb-sm-0 text-body-emphasis">
                                      27-12-2022<span>. 11:19 PM</span>
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <footer class="footer position-absolute">
      <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center"></div>
        <div class="col-12 col-sm-auto text-center">
          <p class="mb-0 text-body-tertiary text-opacity-85">v0.0.1</p>
        </div>
      </div>
    </footer>
  </div>
{% endblock %}
