{% extends "base.html" %}

{% block main %}
<div class="content kanban-deals-content">
  <h2>Подтвердите удаление заявки</h2>
  <p>Вы уверены, что хотите удалить заявку <strong>{{ object.id }}</strong> для клиента "{{ object.client }}"?</p>
  <form method="post">
    {% csrf_token %}
    {% if object %}
      <button type="submit" class="btn btn-danger">Удалить</button>
      <a href="{% url 'tickets:ticket_list' %}" class="btn btn-secondary">Отмена</a>
    {% endif %}
  </form>
</div>
{% endblock %}
