<div class="modal fade" id="reportsFilterModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-translucent">
            <form id="addEventForm" autocomplete="off">
                <div class="modal-header justify-content-between border-translucent p-4">
                    <h5 class="modal-title text-body-highlight fs-6 lh-sm">Filter</h5><button
                        class="btn p-1 text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"><span
                            class="fas fa-times fs-9"> </span></button>
                </div>
                <div class="modal-body pt-4 pb-2 px-4">
                    <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight"
                            for="priority">Priority</label><select class="form-select" id="priority">
                            <option value="urgent" selected="selected">Urgent</option>
                            <option value="medium">Medium </option>
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select></div>
                    <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight" for="createDate">Create
                            Date</label><select class="form-select" id="createDate">
                            <option value="today" selected="selected">Today</option>
                            <option value="last7Days">Last 7 Days</option>
                            <option value="last30Days">Last 30 Days</option>
                            <option value="chooseATimePeriod">Choose a time period</option>
                        </select></div>
                    <div class="mb-3"><label class="fw-bold mb-2 text-body-highlight"
                            for="category">Category</label><select class="form-select" id="category">
                            <option value="salesReports" selected="selected">Sales Reports</option>
                            <option value="hrReports">HR Reports</option>
                            <option value="marketingReports">Marketing Reports</option>
                            <option value="administrativeReports">Administrative Reports</option>
                        </select></div>
                </div>
                <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                    <button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0" type="submit"> <span
                            class="fas fa-arrows-rotate me-2 fs-10"></span>Reset</button><button
                        class="btn btn-sm btn-primary px-9 fs-10 my-0" type="submit">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addDealModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addDealModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-body-highlight p-6">
            <!-- Modal Header -->
            <div class="modal-header justify-content-between border-0 p-0 mb-2">
                <h3 class="mb-0" id="addDealModalLabel">{% if ticket %}Edit Deal{% else %}Создать заявку{% endif %}</h3>
                <button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times text-danger"></span>
                </button>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body px-0">
                <form method="post" action="{% url 'tickets:ticket_list' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-primary me-2">
                            {% if ticket %}Сохранить изменения{% else %}Создать заявку{% endif %}
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addStageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addStageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <h3 class="mb-5 text-body-highlight">Create New Stage</h3>
                <div class="mb-4"><label class="mb-2 fw-bold text-body-highlight">Column Name</label><input
                        class="form-control" type="text" placeholder="Enter stage name" /></div><label
                    class="mb-2 fw-bold text-body-highlight">Forecast Revenue</label><input class="form-control"
                    type="text" placeholder="$  Enter amount" />
            </div>
            <div class="modal-footer border-0 pt-3 px-4 pb-4"><button class="btn btn-link text-danger px-4 m-0"
                    data-bs-dismiss="modal" aria-label="Close">Cancel</button><button
                    class="btn btn-primary px-6 m-0">Create New Stage</button></div>
        </div>
    </div>
</div>