{% extends 'base.html' %}

{% block title %}Список продукции{% endblock %}

{% block main %}
<div class="content">
    <div class="mb-9" data-bs-spy="scroll" data-bs-target="#widgets-scrollspy">
      <div class="d-flex mb-5 pt-8" id="scrollspyStats"><span class="fa-stack me-2 ms-n1"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fa-inverse fa-stack-1x text-primary-subtle"></i></span>
        <div class="col">
          <h3 class="mb-0 text-primary position-relative fw-bold"><span class="bg-body pe-2">Список продукций</span><span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span></h3>
        </div>
      </div>
    <a href="{% url 'products:create' %}" class="btn btn-primary mb-3">Добавить продукцию</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Цвет</th>
                <th>Материал</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.get_type_display }}</td>
                <td>{{ product.get_color_display }}</td>
                <td>{{ product.get_material_display }}</td>
                <td>
                    <a href="{% url 'products:detail' product.id %}" class="btn btn-info btn-sm">Просмотр</a>
                    <a href="{% url 'products:edit' product.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Продукция отсутствует.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
